<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
        <link rel="webmention" href="https://webmention.io/mpardalos.xyz/webmention" />
        <link rel="pingback" href="https://webmention.io/mpardalos.xyz/xmlrpc" />
        {{ block "head" . }}{{ end }}
    </head>
    <body>
        <header>
            <a href="/" id="my-name">
                Michalis Pardalos
            </span>
            <nav>
                <a href="/portfolio">Portfolio</a>
                <a href="/current">Current</a>
            </nav>
        </header>
        {{ block "body" . }}{{ end }}
    </body>
</html>
