:root {
    --color-text-light: #9a9a9a;
}

/* Fixes */
h2 {line-height: 1;}
/*********/

.theme-base-08 {--color-primary: #ac4142;}
.theme-base-09 {--color-primary: #d28445;}
.theme-base-0a {--color-primary: #f4bf75;}
.theme-base-0b {--color-primary: #90a959;}
.theme-base-0c {--color-primary: #75b5aa;}
.theme-base-0d {--color-primary: #6a9fb5;}
.theme-base-0e {--color-primary: #aa759f;}
.theme-base-0f {--color-primary: #8f5536;}

img[src=""] { display:none }

/* Theme override */
.item__date { margin-top: 0px; }
/******************/

h1 {
    color: var(--color-main);
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-primary);
}

/* Sidebar */
@mixin sidebar-hover {
    transition: 0.1s linear;
    &:hover {
        color: white;
        background-color: #0003
    }
}

.sidebar {
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-flow: column;

    .collapsible-menu {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
    }

    .menu-content {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .site__title a {
        display: block;
        line-height: 1;
        @include sidebar-hover;
    }

    .site__description {
        display: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        font-weight: unset;
        font-size: 1.1rem;
    }

    .sidebar-nav {
        li {width: 100%;}

        a {
            display: block;
            width: 100%;
            @include sidebar-hover;
        }
    }
}
/***********/

.post-list-item-details {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.external-post-marker {
    color: var(--color-text-light);
}

.portfolio-entry {
    > summary::marker {content: "";}

    padding-left: 1rem;
    border-left: 2px solid var(--color-primary);
    margin-bottom: 1rem;

    .portfolio-entry-link { font-weight: bold; }

    .portfolio-entry-title {
        vertical-align: middle;
        margin: 0;
        transition: 0.3s;
        cursor: pointer;
        margin-top: 0px;

        &:hover {
            color: var(--color-primary);
            filter: brightness(70%);
        }
    }

    &[open] .portfolio-entry-title {
        transform: translateX(1rem);
    }
}

.my-face img {
    border-radius: 50%;
    float: right;
}
