<div class="page-list">
  {{ range . }}
  <div class="post-link">
    <a href="{{.RelPermalink}}" class="page-link" {{ if .Draft }}class="draft"{{end}}>
      {{ .Title }}
      {{ if .Params.external_link }}
      <span class="external-marker">external</span>
      {{ end }}
    </a>
    <span class="date"> {{ .Date.Format "Jan 2, 2006" }} </span>
  </div>
  {{ end }}
</div>
