html { font-size: 120%; }

header {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    font-family: monospace;
    font-size: 2rem;
}

nav {
    font-size: 1.4rem;
}

body {
    max-width: 800px;
    margin: auto;
    color: #252525;
    font-family: helvetica, sans-serif;
}

/* Prevent text from touching sides of screen on mobile */
@media screen and (max-width: 840px) {
    body {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.section-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    display: block;
}

#my-name {
    text-decoration: none;
    color: black;
}

.page-external-link {
    display: block;
    font-size: 1.5rem;
}

.external-marker {
    padding: 2px;
    font-weight: bold;
    font-variant: all-small-caps;
}

h1 {
    font-size: 3rem;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.draft:before {
    content: "DRAFT"
    background: red;
}

.about-blurb {
    text-align: justified;
}

h2 { display: flex; }

h2:after {
  color:black;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em;
  box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
}

.post-link {
    display: flex;
    justify-content: space-between;
}

.link-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
}

.link-list > * {
    place-self: center start;
}

.article-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;

    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 10px 0px;
}

.spoiler {
    color: grey;
    background-color: grey;
    padding: 3px;
}

.spoiler:before {
    color: white;
    content: "Spoiler";
    position: absolute;
}

.spoiler:hover:before {
    display: none;
}

.spoiler:hover {
    color: inherit;
    background-color: inherit;
}
